/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff1493;
  --ifm-color-primary-dark: #e6127e;
  --ifm-color-primary-darker: #d91177;
  --ifm-color-primary-darkest: #b30e62;
  --ifm-color-primary-light: #ff2fa0;
  --ifm-color-primary-lighter: #ff3ca8;
  --ifm-color-primary-lightest: #ff5ab7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 20, 147, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9d4edd;
  --ifm-color-primary-dark: #8b3dd9;
  --ifm-color-primary-darker: #8035d2;
  --ifm-color-primary-darkest: #6824bb;
  --ifm-color-primary-light: #ae5fe1;
  --ifm-color-primary-lighter: #b969e3;
  --ifm-color-primary-lightest: #ce87ea;
  --docusaurus-highlighted-code-line-bg: rgba(157, 78, 221, 0.2);
  --ifm-background-color: #1a1a1a;
  --ifm-background-surface-color: #2a2a2a;
  --ifm-navbar-background-color: #0d0d0d;
  --ifm-footer-background-color: #0d0d0d;
}
