/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff79c6;
  --ifm-color-primary-dark: #ff52b7;
  --ifm-color-primary-darker: #ff3eb0;
  --ifm-color-primary-darkest: #ff049a;
  --ifm-color-primary-light: #ffa0d5;
  --ifm-color-primary-lighter: #ffb4dd;
  --ifm-color-primary-lightest: #ffeefa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 121, 198, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #bd93f9;
  --ifm-color-primary-dark: #aa7df7;
  --ifm-color-primary-darker: #a16ef6;
  --ifm-color-primary-darkest: #8441f3;
  --ifm-color-primary-light: #d0a9fb;
  --ifm-color-primary-lighter: #d9b4fc;
  --ifm-color-primary-lightest: #f4d6fe;
  --docusaurus-highlighted-code-line-bg: rgba(189, 147, 249, 0.2);
  --ifm-background-color: #2d2b30;
  --ifm-background-surface-color: #38353c;
  --ifm-navbar-background-color: #1e1b20;
  --ifm-footer-background-color: #1e1b20;
}
